Welcome <%= current_user.email %>.
<br/>
<%= link_to "Click Here", new_topic_path %> to create your Topic

<div>
  <br/>
  <label>Recent Topics</label>
  <table>
    <th>Name</th>
    <th>Created by</th>
    <th>Created at</th>
    <% @recent_topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic_path(topic.id) %></td>
        <td><%= topic.user.email %></td>
        <td><%= topic.created_at.strftime("%d-%m-%Y")%></td>
      </tr>
    <% end %>
  </table>
</div>
