<div class="row content">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <span class="inline-paragraph">
        <p class="text-left"><b>RECENT POSTS</b></p>
        <% if current_user && is_current_user_topic(current_user.id, @topic.user_id) %>
          <p class="text-right">
            <%= link_to edit_topic_path(@topic.slug), class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span> Edit Topic
            <% end %>
          </p>
        <% end %>
      </span>
    </div>
    <hr/>
    <h2><%= @topic.name.to_s.titleize %></h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by <%= @topic.user.email %>, <%= @topic.created_at.strftime('%b %d, %Y') %>.</h5>
    <h5><%= topic_tag_label(@topic).html_safe %></h5><br>
    <p><%= @topic.body.html_safe %></p>
    <hr>
    <p><span id="js_post_count" class="badge"><%= @topic.posts.count %></span> Comments</p><br>
    <div class="row">
      <% unless @topic.posts.first.id? %>
        <div class="js_leave_comment" id='no-comment'><div class="col-sm-10 text-red">No comment's available</div></div>
      <% else %>
        <% @posts.each do |post| %>
          <%= render partial: 'comment', locals:{post: post} %>
        <% end %>
      <% end %>
    </div>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    <hr/>
    <span id="validation_message"></span>
    <h4>Share Your Thoughts</h4>
    <%= form_for @new_post, url: topic_posts_path, :method => :post, html:{id: 'comment_box', multipart: true, remote: true} do |f| %>
      <% if current_user.present? %>
        <div class="form-group">
          <%= render partial: 'form', locals:{f: f}%>
        </div>
        <%= f.submit "Submit", class: "btn btn-success" %>
      <% else %>
        You have to login to access comment section. <%= link_to "Already have an account?", new_user_session_path, class: 'btn btn-success btn-sm'%> <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-sm"%>
      <% end %>
    <% end %>
    <br><br>
  </div>
</div>
