<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboards_path, class: 'navbar-brand' do %>
        Technical Blog
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Topics', topics_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if true %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class=" glyphicon glyphicon-user"></span>
              <%= current_user ? current_user.email.split('@').first : "Guest User" %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li>
                  <%= link_to basic_info_dashboards_path do %>
                    <span class="glyphicon glyphicon-info-sign"> </span>
                    My Info
                  <% end %>
                </li>
                <li>
                  <%= link_to your_topics_topics_path do %>
                    <span class="glyphicon glyphicon-th-list"> </span>
                    My Topics
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-off"> </span>
                    Sign Out
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to new_user_registration_path do %>
                    <span class="glyphicon glyphicon-user"> </span> Sign Up
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path do %>
                    <span class="glyphicon glyphicon-log-in"> </span> Sign In
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
